<!-- Include MathJax for math rendering -->
<script type="text/javascript" async
  src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async>
</script>
<!-- Configure MathJax to enable inline math -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]} })
</script>
<!-- Run TikZ in the cloud -->
<script src="https://tikzwolke.com/v1/tikzwolke.js"></script>
<!-- Run TikZ in the browser - couldn't get this to work. Issue with the .js file or styling conflicts?
<link rel="stylesheet" type="text/css" href="http://tikzjax.com/v1/fonts.css">
<script src="http://tikzjax.com/v1/tikzjax.js"></script>
-->
<!-- Embed SageMath cells in your webpages -->
<script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
<script>sagecell.makeSagecell({"inputLocation": ".sage"});</script>